<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key><string>com.walberg.bow-book</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/bash</string>
    <string>__COLLECTOR_DIR__/run_collect.sh</string>
    <string>book</string>
  </array>
  <key>StartInterval</key><integer>3600</integer>
  <key>RunAtLoad</key><false/>
  <key>StandardErrorPath</key><string>__DATA_DIR__/launchd-book.err</string>
  <key>ProcessType</key><string>Background</string>
</dict>
</plist>
